body {
  background-color: #000;
  text-align: center;
}

.titulo {
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  background-color: #008000;
  padding: 20px;
  margin-bottom: 50px;
}

.numero {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding-right: 290px;
  margin-top: 0;
}

.mensagem {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-top: 15px;
  padding-right: 270px;
}

input {
  padding: 8px 60px 8px 60px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.botao {
  background-color: #008000;
  color: #fff;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  padding: 13px 70px 13px 70px;
  margin-top: 30px;
}
